(
	texture_width:1092,
	texture_height:1420,
	sprites:[
		(
			x:0,
			y:0,
			width:829,
			height:804,
			offsets:Some((10., 0)),
		),
		(
			x:0,
			y:804,
			width:374,
			height:616,
			offsets:None,
		),
		(
			x:374,
			y:804,
			width:445,
			height:431,
			offsets:None,
		),
		(
			x:829,
			y:0,
			width:263,
			height:406,
			offsets:None,
		),
		(
			x:829,
			y:406,
			width:64,
			height:64,
			offsets:None,
		),
		(
			x:829,
			y:470,
			width:64,
			height:64,
			offsets:None,
		),
		(
			x:829,
			y:534,
			width:32,
			height:32,
			offsets:None,
		),
	],
)
