(
    texture_width: 1502,
    texture_height: 734,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 724,
            height: 734,
            offsets: None,
        ),
        (
            x: 724,
            y: 0,
            width: 640,
            height: 480,
            offsets: None,
        ),
        (
            x: 1364,
            y: 0,
            width: 32,
            height: 36,
            offsets: None,
        ),
        (
            x: 1396,
            y: 0,
            width: 32,
            height: 34,
            offsets: None,
        ),
        (
            x: 1428,
            y: 0,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 1444,
            y: 0,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 1460,
            y: 0,
            width: 16,
            height: 24,
            offsets: None,
        ),
        (
            x: 1476,
            y: 0,
            width: 16,
            height: 16,
            offsets: None,
        ),
        (
            x: 1492,
            y: 0,
            width: 10,
            height: 21,
            offsets: None,
        ),
        (
            x: 1476,
            y: 16,
            width: 8,
            height: 8,
            offsets: None,
        ),
    ],
)