(
    texture_width: 1396,
    texture_height: 734,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 724,
            height: 734,
            offsets: None,
        ),
        (
            x: 724,
            y: 0,
            width: 640,
            height: 480,
            offsets: None,
        ),
        (
            x: 1364,
            y: 0,
            width: 16,
            height: 16,
            offsets: None,
        ),
        (
            x: 1380,
            y: 0,
            width: 16,
            height: 16,
            offsets: None,
        ),
    ],
)