List((
    texture_width: 16,
    texture_height: 224,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 28,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 56,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 84,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 112,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 140,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 168,
            width: 16,
            height: 28,
            offsets: None,
        ),
        (
            x: 0,
            y: 196,
            width: 16,
            height: 28,
            offsets: None,
        ),
    ],
))
